<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script type="text/javascript">
    $("body").on('click','.confirm', function(){  
      var button_val = $(this).val();
      $.ajax
      ({
        type: "PUT",
        url: '/friendships/update',
        dataType:'script',
        data: {followed_id: button_val},
        success: function (response) {
        }
      }); 
    });
    $("body").on('click','.deletereq', function(){  
      var button_val = $(this).val();
      $.ajax
      ({
        type: "DELETE",
        url: '/friendships/removerequest',
        dataType:'script',
        data: {followed_id: button_val},
        success: function (response) {
        }
      }); 
    });
</script>
<table class="table table-striped">
	<% @freqs.each do |fuser| %>
		<% user = User.find(fuser.follower_id) %>
	  <tr id = "button-<%= user.id %>">
		  <td><%= user.name %></td>
		  <td id = "confirm-button-<%= user.id %>"><%= render 'friendships/confirm_button', user: user %></td>
	  </tr>
	<% end %>
</table>
