<table class="table table-striped">
  <tbody>
    <tr>
     <td><h6><b>UserName</b></h6></td> 
    </tr>
    <% @users.each do |user| %>
      <tr> 
       <td><%= user.name%></td> 
       <td>
        <button type="button" class="btn btn-secondary">Follow</button>
       </td>                   
      </tr>
   <% end %>
  </tbody>
</table>
