<table class="table table-striped">
  <tbody>
    <tr>
     <td><h6><b>Title</b></h6></td> 
     <td><h6><b>Author Name</b></h6></td> 
   </tr>
   <% @posts.each do |post| %>
   <tr>
     <td><%= link_to post.title, post_path(post) %></td> 
     <td><%= post.user.name%></td> 
   </tr>
   <% end %>
 </tbody>
</table>
<div class="bt-pgn"
   <%= will_paginate @posts, previous_label: "Older", next_label: "Newer"%>
</div>
<style>
  .bt-pgn{
  color: black;
  float: right;
  padding: 8px 16px;
  text-decoration: none;
  margin-left: 9px;
  }
</style>