  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script type="text/javascript">
 $( document ).ready(function() {
  $("#search").on("keyup", function(){
    search_val = $(this).val(); 
   
    $.ajax
    ({
      type: "GET",
      url: '/posts',
      dataType:'script',
      data : {'search': search_val},
      success: function (response) {

        //alert("avani");
      }
    });

      return false;
    }); 
});
</script>
<br>
<div>
  <%= form_tag(posts_path, :method => "get", remote: true, autocomplete: false) do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control", :id => "search" %>  
    <div class="input-group-btn">  
      <%#= button_tag "search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%> 
    </div>  
  </div>  
  <% end %>
</div>
<br>

<%= render "search" %>

<div class="bt-pgn">
   <%= will_paginate @posts, previous_label: "Older", next_label: "Newer"%>
</div>
<style>
  .bt-pgn{
    color: black;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: 9px;
  }
</style> 