<h3>Search Result</h3>  
<% @results.each do |post| %> 
<table class="table table-striped">
	<tr>
		 <td><%= post.category.name%></td> 
		<td>
		 <%= link_to post.title, post_path(post) %>
	  </td>
	</tr>
</table> 
<% end %>